{{- $email := promptStringOnce . "email" "What is your email address for git" -}}
{{- $name := promptStringOnce . "name" "What is your name to be used in git commits" -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}

    enable_node = true
    enable_python = true
    enable_java = true

[git]
    autoCommit = true
    autoPush = true
